technologies/Java_platform/samples/javawsSamples/geoclient/artifacts/Countries/country.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetCountryByCountryCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCountryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryByCountryCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetISDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountries">
        <s:complexType />
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCodeByCurrencyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyCodeByCurrencyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetISOCountryCodeByCountyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetISOCountryCodeByCountyNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyCode">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryByCurrencyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryByCurrencyCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencies">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrenciesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrencyByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrencyByCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGMTbyCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGMTbyCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCountryByCountryCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryByCountryCode" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryByCountryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetISDSoapIn">
    <wsdl:part name="parameters" element="tns:GetISD" />
  </wsdl:message>
  <wsdl:message name="GetISDSoapOut">
    <wsdl:part name="parameters" element="tns:GetISDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeByCurrencyName" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeByCurrencyNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetISOCountryCodeByCountyName" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetISOCountryCodeByCountyNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyCode" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryByCurrencyCode" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryByCurrencyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencies" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyByCountry" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetGMTbyCountry" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetGMTbyCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpGetIn">
    <wsdl:part name="CountryCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetISDHttpGetIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetISDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpGetIn" />
  <wsdl:message name="GetCountriesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpGetIn">
    <wsdl:part name="CurrencyName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpGetIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeHttpGetIn" />
  <wsdl:message name="GetCurrencyCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpGetIn">
    <wsdl:part name="CurrencyCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesHttpGetIn" />
  <wsdl:message name="GetCurrenciesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpGetIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpGetIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpPostIn">
    <wsdl:part name="CountryCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCountryCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetISDHttpPostIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetISDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpPostIn" />
  <wsdl:message name="GetCountriesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpPostIn">
    <wsdl:part name="CurrencyName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCurrencyNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpPostIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetISOCountryCodeByCountyNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeHttpPostIn" />
  <wsdl:message name="GetCurrencyCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpPostIn">
    <wsdl:part name="CurrencyCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesHttpPostIn" />
  <wsdl:message name="GetCurrenciesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpPostIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCountryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpPostIn">
    <wsdl:part name="CountryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGMTbyCountryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="countrySoap">
    <wsdl:operation name="GetCountryByCountryCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country name by country code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCountryCodeSoapIn" />
      <wsdl:output message="tns:GetCountryByCountryCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get International Dialing Code by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISDSoapIn" />
      <wsdl:output message="tns:GetISDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all countries with ISO code</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesSoapIn" />
      <wsdl:output message="tns:GetCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by currency name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeByCurrencyNameSoapIn" />
      <wsdl:output message="tns:GetCurrencyCodeByCurrencyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get countries by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISOCountryCodeByCountyNameSoapIn" />
      <wsdl:output message="tns:GetISOCountryCodeByCountyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currencycode for each country </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeSoapIn" />
      <wsdl:output message="tns:GetCurrencyCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country by currency code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCurrencyCodeSoapIn" />
      <wsdl:output message="tns:GetCountryByCurrencyCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currency,currency code for all countries </wsdl:documentation>
      <wsdl:input message="tns:GetCurrenciesSoapIn" />
      <wsdl:output message="tns:GetCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by country name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyByCountrySoapIn" />
      <wsdl:output message="tns:GetCurrencyByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get greenwich mean time(GMT) by country name </wsdl:documentation>
      <wsdl:input message="tns:GetGMTbyCountrySoapIn" />
      <wsdl:output message="tns:GetGMTbyCountrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="countryHttpGet">
    <wsdl:operation name="GetCountryByCountryCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country name by country code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCountryCodeHttpGetIn" />
      <wsdl:output message="tns:GetCountryByCountryCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get International Dialing Code by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISDHttpGetIn" />
      <wsdl:output message="tns:GetISDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all countries with ISO code</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesHttpGetIn" />
      <wsdl:output message="tns:GetCountriesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by currency name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeByCurrencyNameHttpGetIn" />
      <wsdl:output message="tns:GetCurrencyCodeByCurrencyNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get countries by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISOCountryCodeByCountyNameHttpGetIn" />
      <wsdl:output message="tns:GetISOCountryCodeByCountyNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currencycode for each country </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeHttpGetIn" />
      <wsdl:output message="tns:GetCurrencyCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country by currency code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCurrencyCodeHttpGetIn" />
      <wsdl:output message="tns:GetCountryByCurrencyCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currency,currency code for all countries </wsdl:documentation>
      <wsdl:input message="tns:GetCurrenciesHttpGetIn" />
      <wsdl:output message="tns:GetCurrenciesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by country name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyByCountryHttpGetIn" />
      <wsdl:output message="tns:GetCurrencyByCountryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get greenwich mean time(GMT) by country name </wsdl:documentation>
      <wsdl:input message="tns:GetGMTbyCountryHttpGetIn" />
      <wsdl:output message="tns:GetGMTbyCountryHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="countryHttpPost">
    <wsdl:operation name="GetCountryByCountryCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country name by country code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCountryCodeHttpPostIn" />
      <wsdl:output message="tns:GetCountryByCountryCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get International Dialing Code by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISDHttpPostIn" />
      <wsdl:output message="tns:GetISDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all countries with ISO code</wsdl:documentation>
      <wsdl:input message="tns:GetCountriesHttpPostIn" />
      <wsdl:output message="tns:GetCountriesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by currency name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeByCurrencyNameHttpPostIn" />
      <wsdl:output message="tns:GetCurrencyCodeByCurrencyNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get countries by country name </wsdl:documentation>
      <wsdl:input message="tns:GetISOCountryCodeByCountyNameHttpPostIn" />
      <wsdl:output message="tns:GetISOCountryCodeByCountyNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currencycode for each country </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyCodeHttpPostIn" />
      <wsdl:output message="tns:GetCurrencyCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get country by currency code</wsdl:documentation>
      <wsdl:input message="tns:GetCountryByCurrencyCodeHttpPostIn" />
      <wsdl:output message="tns:GetCountryByCurrencyCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all currency,currency code for all countries </wsdl:documentation>
      <wsdl:input message="tns:GetCurrenciesHttpPostIn" />
      <wsdl:output message="tns:GetCurrenciesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get currency by country name </wsdl:documentation>
      <wsdl:input message="tns:GetCurrencyByCountryHttpPostIn" />
      <wsdl:output message="tns:GetCurrencyByCountryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get greenwich mean time(GMT) by country name </wsdl:documentation>
      <wsdl:input message="tns:GetGMTbyCountryHttpPostIn" />
      <wsdl:output message="tns:GetGMTbyCountryHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="countrySoap" type="tns:countrySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountryByCountryCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCountryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCodeByCurrencyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <soap:operation soapAction="http://www.webserviceX.NET/GetISOCountryCodeByCountyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCountryByCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetCurrencyByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetGMTbyCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="countrySoap12" type="tns:countrySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountryByCountryCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountryByCountryCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetISD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyCodeByCurrencyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetISOCountryCodeByCountyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCountryByCurrencyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetCurrencyByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetGMTbyCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="countryHttpGet" type="tns:countryHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCountryByCountryCode">
      <http:operation location="/GetCountryByCountryCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <http:operation location="/GetISD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <http:operation location="/GetCurrencyCodeByCurrencyName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <http:operation location="/GetISOCountryCodeByCountyName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <http:operation location="/GetCurrencyCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <http:operation location="/GetCountryByCurrencyCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <http:operation location="/GetCurrencies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <http:operation location="/GetCurrencyByCountry" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <http:operation location="/GetGMTbyCountry" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="countryHttpPost" type="tns:countryHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCountryByCountryCode">
      <http:operation location="/GetCountryByCountryCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISD">
      <http:operation location="/GetISD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCurrencyName">
      <http:operation location="/GetCurrencyCodeByCurrencyName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISOCountryCodeByCountyName">
      <http:operation location="/GetISOCountryCodeByCountyName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <http:operation location="/GetCurrencyCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <http:operation location="/GetCountryByCurrencyCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <http:operation location="/GetCurrencies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCountry">
      <http:operation location="/GetCurrencyByCountry" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGMTbyCountry">
      <http:operation location="/GetGMTbyCountry" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="country">
    <wsdl:port name="countrySoap" binding="tns:countrySoap">
      <soap:address location="http://www.webservicex.net/country.asmx" />
    </wsdl:port>
    <wsdl:port name="countrySoap12" binding="tns:countrySoap12">
      <soap12:address location="http://www.webservicex.net/country.asmx" />
    </wsdl:port>
    <wsdl:port name="countryHttpGet" binding="tns:countryHttpGet">
      <http:address location="http://www.webservicex.net/country.asmx" />
    </wsdl:port>
    <wsdl:port name="countryHttpPost" binding="tns:countryHttpPost">
      <http:address location="http://www.webservicex.net/country.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>