silverlight/silverlight/Service References/CompanyServiceReference/CompanyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1212/CompanyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf.Dto" />
  <xs:element name="GetCompany">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf.Dto" minOccurs="0" name="GetCompanyResult" nillable="true" type="q1:CompanyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf.Dto" minOccurs="0" name="GetDepartmentResult" nillable="true" type="q2:DepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf.Dto" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q3:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CutDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf.Dto" minOccurs="0" name="dept" nillable="true" type="q4:DepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CutDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CutDeptResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CutEmpl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcf.Dto" minOccurs="0" name="emp" nillable="true" type="q5:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CutEmplResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CutEmplResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wcf.Dto" minOccurs="0" name="company" nillable="true" type="q6:CompanyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CutResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>